@using Sapienza.Dominus.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<DominusResource> L
<div class="text-center pt-2">
    <span class="copyright-text">@DateTime.Now.Year © Um projeto <a href="https://www.sapienzae.com.br" target="_blank">SAPIENZA</a></span>
</div>
